body {
    font-family: Arial;
    text-align: center;
    margin: 40px;
}

input {
    margin: 5px;
    padding: 8px;
}

button {
    padding: 8px 15px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
}